* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  margin: auto;

}

::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background-color: hsla(231, 90%, 4%, 0.327);
}
